<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <form
          name="form"
          #form="ngForm"
          (ngSubmit)="form.form.valid && login()"
          novalidate
        >
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              name="userEmail"
              [(ngModel)]="signInform.userEmail"
              #userEmail="ngModel"
              [ngClass]="{ 'is-invalid': form.submitted && userEmail.invalid }"
              required
              email
            />
            <div
              *ngIf="form.submitted && userEmail.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="userEmail.errors?.['required']">
                Email is required
              </div>
              <div *ngIf="userEmail.errors?.['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="userPassword"
              [(ngModel)]="signInform.userPassword"
              #userPassword="ngModel"
              [ngClass]="{
                'is-invalid': form.submitted && userPassword.invalid
              }"
              required
              minlength="5"
              togglePassword
            />
            <div
              *ngIf="form.submitted && userPassword.invalid"
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  userPassword.errors?.['required'] || userPassword.errors?.['minlength']
                "
              >
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
        <p routerLink="/auth/register" class="sim-pointer">
          Don't have an account click here for register
        </p>
      </div>
    </div>
  </div>
</div>
